<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Confirm Delete Course</h1>
    <h2>Are you sure you want to delete this course? Speak now or forever hold your peace</h2>
    <p>{{ course.title }}</p>
    <form method='POST' action={% url 'delete_course' course_id=course.id %}>
        {% csrf_token %}
        <input type="submit" value="Yes, delete NOW"/>
        <a href="{% url 'show_courses' %}">No, I change my mind</a>
    </form>
</body>
</html>