<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Courses</h1>
    <ul>
        {% for course in all_courses %}
        <li>{{course.title}} is conducted by {{course.instructor.first_name}} {{course.instructor.last_name}}
        <a href="{% url 'update_course' course_id=course.id %}">Edit course</a>
        <a href="{% url 'confirm_delete' course_id=course.id %}">Delete course</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>